<h2> Get request </h2>
<div>
  <a>Convertisseur</a>
  <form (submit)="onSubmit()">
    <input [(ngModel)]="this.value" [ngModelOptions]="{standalone: true}">
  </form>
  <form>
  <select>
    <option *ngFor="let item of lstCurrency ">{{item.label}}</option>
  </select>
  </form>

  <form (submit)="convert()">
    <button> Convertir </button>
    <a>{{output}}</a>
  </form>
</div>
